:root {
    --color-bg: #fff;
    --color-white: #fff;
    --color-black: #001122;
    --color-primary: #1677ff;
    --color-primary-hover: #409aff;
    --color-border: #ccc;

    --shadow-base: 0 0 4px 0 #131313;
}

*,
*::before,
*::after {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
